*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
    color: antiquewhite;
}

body{
    background-color: black;
}

.container{
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(40, 26, 26);
    gap: 10px;
    height: 400px;
    width: 400px;
}
.First{
    background-color: brown;
}
.Second{
    background-color: blueviolet;
    
}
.Third{
    background-color: burlywood;
}
.Fourth{
    background-color: cadetblue; 
}