*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.box{
    background-color: rgb(202, 125, 24);
    height: 150px;
    width: 150px;
    cursor: pointer;
    /* transform: translate(200px,200px); */
    /* transform:rotate(30deg); */
    transform: skewy(-23deg);

    /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; */

    /* transition: all 3s ease-in-out 1s; */

    /* transition: all 3s; */ 
    
}
.box:hover{
    background-color: blueviolet;
    /* height : 300px; */
    /* width: 250px; */
    /* transform: scaleX(2);  */
    
}