.container{
    background-color: rgb(220, 187, 143);
    display:flex;
    height: 500px;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    /* flex-wrap: wrap-reverse; */
    gap: 10px;

    /* justify content : main axis ke around kaam karta hai main axis decide kun karega, aapka flex direction */
    /* align items : work around cross axis */


}

.box{
    height: 100px;
    width: 100px;
    /* margin: 5px; */
}

.first{
    background-color: orange;
    /*  flex-shrink: 4; */
    /* flex-basis: 200px; */
    /* flex-grow: 1; */
}
 
.second{
    background-color: green;
    /* flex-basis: 300px; */
    /* flex-grow: 2; */
}

.third{
    background-color: red;
     align-self: flex-start;
    /* flex-grow: 3; */
}

.fourth{
    background-color: chartreuse;
}