*{
    height: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container{
    padding: 20px;

}

.box{
    height: 200px;
    width: 150px;
    background-color: burlywood;
    animation-name: moving;
    animation-duration: 3s;
    position: absolute;
}

@keyframes moving {
    from{
        background-color: orange;
        top:10px;
        left:10px;
    }
    to{
        background-color: blue;
        top:10px;
        left:500px;

    }
}
